<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>

<div id="container">
	<h3> Welcome Home {{ user }} </h3>

	<div class="home">
		<p> Please name the file to be saved in </p>
		<form method="get" action="{{ url_for('notes') }}">
			<input type="text" name="file_name"> <p id="someth"> .txt </p>
		</form>
	</div>

	{% if no_files=="noem" %}
		<p> No files are there in the directory </p>
	{% else %}
		{% for file in files %}
		<p id="pleft"> {{ file }} </p>
		{% endfor %}
	{% endif %}
</div>
</body>
</html>
